# Database
DATABASE_URL=postgresql://fileflow_user:fileflow_pass@localhost:5432/fileflow

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# S3
S3_BUCKET_NAME=fileflow-uploads-local

# SQS
SQS_QUEUE_URL=http://localhost:4566/000000000000/fileflow-processing-queue

# Application
NODE_ENV=development
